www.thejosephturner.com {
    redir https://thejosephturner.com{uri}
}

thejosephturner.com {
    reverse_proxy thejosephturner_com:80
}


www.inletelectronics.com {
    redir https://inletelectronics.com{uri}
}

inletelectronics.com {
    reverse_proxy inletelectronics_com:80
}

test.creativelandscapesinc.net {
    reverse_proxy creativelandscapesinc_net:80
}
