www.thejosephturner.com {
    redir https://thejosephturner.com{uri}
}

thejosephturner.com {
    reverse_proxy thejosephturner_com:80
}

test.inletelectronics.net {
    reverse_proxy inletelectronics_net:80
}
